@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-dark: #1c2042;
  --clr-white: #fff;
  --max-width: 1140px;
}

/* pseudo elements in css */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(/asstes/images/full-background.png);
}

/* global css */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background: url(/asstes/images/full-background.png);
}
.card {
  background-color: lightblue;
  width: 24rem;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0.5rem 1.75rem 1rem 1.75rem;
  height: 870px;
  color: black;
  border-radius: 10px;
}


.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.8em 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: #fff;
  border: 2px solid #1c2042;
}
.heading {
  font-size: 1.75rem;
  text-align: center;
}

.new-form {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}
.form-control.error input  {
  border-color: red;
}
.form-control.sucess input  {
  border-color: green;
}
.form-control small{
  visibility: hidden;
}
.form-control.error small {
  color: red;
  visibility: visible;
}
.form-control.sucess small{
  visibility: hidden;
}


label {
  font-size: 1.25rem;
  font-weight: 700;
}

input {
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  font-size: 600;
  border-radius: 10px;
  outline: none;
  border-style: solid;
  border-color: black;
}

.btn_1 {
  background-color: var(--clr-white);
  border: 2px solid var(--clr-white);
  color: lightblue;
  transition: var(--transition);
  width: 100%;
}

.btn_1:hover {
  background-color: transparent;
  color: var(--clr-white);
}

.btn-block {
  display: block;
  width: 100%;
  margin: 1.5rem auto;
}

@media screen and (max-width: 768px) {
  .card {
    width: 23rem;
    height: auto;
  }
  .btn {
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
    font-size: 1.20rem;
  }

  input {
    padding: 0.8rem 1rem;
    font-size: 0.90rem;
  }
}